<!-- page-highscore.html -->

<center>
	<h1>HIGH SCORES</h1>
	
	<br>
		<div alert data-ng-repeat="notification in notifications" type="{{notification.type}}" close="closeNotification($index)">{{notification.msg}}</div>
	<br>

	<table class="table table-hover" id = "theTable" border = "1">
			    <tr id="row0" align = 'center'>
				    <td data-ng-click="sortByDate()"><span ng-style="myStyle0"><h3><b>Date</b></h3></span></td>
				    <td data-ng-click="sortByScore()"><span ng-style="myStyle0"><h3><b>Score</b></h3></span></td>
				</tr>

				<tr data-ng-repeat="score in scores" align = 'center'>
					<td>{{score.scoreDate}}</td>
				    <td>{{score.score}}</td>			   
			    </tr>
	</table>

	<a href="#" class="btn btn-primary btn-lg">Home</a>
	<a href="#hangman" class="btn btn-primary btn-lg">JHangMan</a>

</center>
